<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kip.ad340project">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/display_message_activity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".RecyclerActivity"
            android:label="@string/recycler_view_activity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/about_view"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".FabActivity"
            android:label="@string/fab_activity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ImageDisplay"
            android:label="@string/image_display_activity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GridviewActivity"
            android:label="@string/gridview_activity"
            android:parentActivityName=".FabActivity"/>

        <activity
            android:name=".RecyclerWebActivity"
            android:label="@string/web_recycler_title"
            android:parentActivityName=".MainActivity"/>


    </application>

</manifest>